
.app-package {
    padding: 15px;
    margin: 2.5px 15px;
    border-radius: 10px;

    width: 600px;
    min-height: 100px;
  
    display: flex;
    flex-direction: column;
    align-items: start;
  
    background-color: var(--secondary-background-color);
  }

.app-package-publisher {
    font-size: 15px;
    color: var(--secondary-font-color);
}
.app-package-title {
    font-weight: 600;
    font-size: 20px;
    color: var(--primary-font-color);
    text-decoration: none;
}

.app-package-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
  
.app-package-details {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  align-items:baseline;
}

.app-package-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.app-package:hover {
  background-color: var(--tertiary-background-color);
  transition: background-color 0.3s ease;
}

.app-package-install {
  display: flex;
  background-color: var(--primary-button-color);
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  border: 1px solid transparent;
  font-size: 14px;
  font-weight: 600;
  transition: border-color 0.225s;
  transition: transform 0.225s ease-in-out;
  cursor: pointer;
}

.app-package-install:hover {
  transform: scale(1.1);
  border-color: var(--primary-font-color);
}

.app-package-installing {
  display: flex;
  background-color: transparent;
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  cursor: default;
}

.app-buttons {
  display: flex;
  align-items: center;
  justify-content: end;
  width: 100%;
}

.verified-app-check {
  margin: 0 5px;
}