
.pkg-card {
    background-color: var(--secondary-background-color);
    margin: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 200px;
    min-height: 100px;
    padding: 10px;
    border-radius: 10px;

    .title {
        font-size: 18px;
        font-weight: 600;
    }

    .description {
        font-size: 14px;
        font-weight: 500;
        text-align: center;
    }
}

.category-button {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 16px;
}

section {
    margin-bottom: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 15px;
    }
    
}

.packages-list {
    display: flex;
    max-width: 700px;
    flex-wrap: wrap;
    justify-content: center;
}